*{padding: 0; margin: 0;}

.layer2 {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    z-index: 5;
    margin: 0 4px 4px 0;
    padding: 23px 30px 20px 30px;
}

.h4cs {
    padding: 0 10px 5px 10px;
}

.grap:hover .layer2 {
    background: transparent;
    transition: 1s;
}

.bdred {
    border: 2px solid #b71616;
}

a.navbar-brand, .navabarcus li a {
    color: #232;
    font-weight: 700 !important;
}

.navcustom {
    padding: 15px 0;
    background: #fff;
    margin-bottom: 0;
}

nav.navbar.navbar-default.navcustom {}

.rightcustom {
    color: #232323;
    font-size: 15px;
    text-transform: uppercase;
}

.layer3 {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
    top: -4px;
    left: -4px;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%,rgba(255, 255, 255, 0) 75%, rgba(0, 0, 0, 0.76));
    transition: 0.6s;
    opacity: 1;
}

._top0 {
    top: 0;
}

._lf0 {
    left: 0;
}

.layer3:hover {
    /* opacity: 0; */
}

.grap {
    position: relative;
    overflow: hidden;
}

.grap:hover .layer3 {
    opacity: 0;
}

.footer1.bg-black {
    background: #000;
    color: #fff;
    padding: 15px 0px;
}

a.categorybot {
    color: #333333;
    font-size: 1.3em;
}

a.categorybot:hover {
    color: #b71616;
    text-decoration: none;
}

.tintext:after {
    content: "";
    display: block;
    clear: both;
}

.tintext {
    margin-bottom: 20px;
}

.col-sm-6.clsm-tin-text a h4 {
    margin: 0;
    font-size: 16px;
    color: #232;
}

.col-sm-6.clsm-tin-text a h4:hover {
    color: #b71616;
    text-decoration: none;
}

.col-sm-6.clsm-tin-text a h4 {
    font-weight: 600;
}

.col-sm-6.clsm-tin-text a:hover {
    text-decoration: none;
}

.clsm-mem img {
    border-radius: 50%;
}

img.img-responsive.imgvu {
    width: 148px;
    height: 148px;
}

img.img-responsive.imgvu {}

.col-sm-6.clsm-mem a {
    color: #232;
    font-size: 1.2em;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', serif;
}

.col-sm-6.clsm-mem a:hover {
    text-decoration: none;
    color: #b71616;
}

.col-sm-6.clsm-mem {
    text-align: center;
    margin-bottom: 20px;
}

h2.headertitle {
    text-transform: uppercase;
}

.col-sm-6.sm6left {
    margin-bottom: 40px;
}

.like-author {
    margin-top: 5px;
}

.like-author ul {
    display: flex;
    justify-content: space-between;
}

li.author {
    display: flex;
    justify-content: flex-start;
}

li.author img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.like-author ul li {
    list-style: none;
}

li.author h5 a {
    color: #232323;
    margin-left: 5px;
}

li.author h5 a:hover, .text-ct h3 a:hover {
    color: #b71616;
    text-decoration: none;
}

.text-ct h3 a {
    color: #232323;
}

.categoryguu {
    position: absolute;
    top: 0;
    left: 0;
    /* background: #0092C9; */
    padding: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.sm6-img {
    position: relative;
}

.row.rowbot {
    margin-right: 0;
    padding-top: 12px;
}

.row.block1-2 .col-sm-3 {
    padding-right: 0;
}

nav.navbar.navbar-success.bor {
    /* border: 1px solid #000; */
    border-right: none;
    border-left: none;
    border-radius: 0;
    margin-bottom: 0;
    border-bottom: 3px solid #000;
    z-index: 10;
}
.col-sm-6.block1-1-left {
    position: relative;
}

.info {
    position: absolute;
    bottom: 0;
    left: 15px;
    color: #fff;
}
.info-right h3 {
    font-size: 15px;
}

.row.rowtop {
    margin-bottom: 0;
    margin-right: 0;
}

.row.block1-1 {
    margin-bottom: 10px;
}
.info {
    position: absolute;
    bottom: 0;
    z-index: 5;
    color: #fff;
}
.grap:hover .info {
    background: none;
}
.grap:hover {
    cursor: pointer;
}

.block1-1 .col-sm-6 {
    padding-right: 0;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #b71616;
    background-color: transparent;
}

.nav>li>a:focus, .nav>li>a:hover {
    color: #b71616;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #b71616;
}

a.navbar-brand._3em {
    font-size: 3.5em;
    font-weight: 100 !important;
}


li.dropdown:hover .dropdown-menu {
    display: block;
}
ul.dropdown-menu {
    background: #b71616;
}
ul.dropdown-menu li a {
    color: #fff;
    text-transform: uppercase;
    line-height: 37px;
}



*{padding: 0; margin: 0;}

.slideheader .col-sm-6,
.slideheader .col-sm-3 {
    padding: 0;
    outline: 4px solid #fff;
}

.slideheader .col-sm-12,
.slideheader .col-sm-3 {
    padding: 0;
}

.slideheader .col-sm-6.colum-left {
    padding: 0;
}

.slideheader .bg-success {
    background: #f00;

}

.slideheader .bg-danger {
    background: #232;
}
.slideheader .row {
    margin-right: 0px;
     margin-left: 0px;
}
